{% extends 'base.html' %}
{% block content %}


<div class="col-md-9">
    <div class="card-center">
      <div class="card shadow-lg mt-3" style="width: 36rem;" id="proj-card">
        <div class="card-body">
          <h6 class="card-title" id="project-name">Who we are</h5>
          <hr class= "hr hr-blurry">
            <p>
                We are a team dedicated to providing you with a valuable site to manage your projects. 
                Alex Villalobos's lived his previous life as an engineer, and Andrew Hulse lived his as a Low voltage technician.
                Together they discovered that the evils of disorganizion halted project progress across both fields.
                <br><br>
                Enter ProjectHub 
                <br><br>
                ProjectHub is the new way to keep your teams organized, on target, and on the same page.
                Built in are accountability features, such as task completion status.
            </p>
          <hr class="hr hr-blurry">
          <h6 class="card-title" id="project-name">Getting Started</h6>
            <p>
                Navigate to the Bar at the top and click the projects dropdown menu. 
                From here, click on either create a project, or view all projects. Projects of which you are a member
                or that you have created are visible. From the project page, you can add tasks, notes, or pictures related to the project,
                as well as adding and removing team members. 
            </p>
        </div>
      </div>
    </div>
</div>

{% endblock %}