{% extends 'base.html' %}
{% block content %}
<div class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <h2><span>{{ request.user.username }}</span>'s Profile</h2>
      <!-- Display user info below -->
      <div class="mb-4">
        <p><strong>Name:</strong> {{ user_profile.first_name }} {{ user_profile.last_name }}</p>
        <p><strong>Bio:</strong> {{ user_profile.bio }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Edit Profile</h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary float-end">Save Changes</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
