.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
}

.col-md-3 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 250px; 
}

.col-md-9 {
  padding-left: 250px;
}

.card {
  margin: 0 auto;
}


.sidebar-container {
  position: relative;
  top: 10vh;
  transform: translateY(-50%);
}

.navbar-brand{
font-family: 'Passion One', cursive;
font-size: 4rem;
  
}

.btn-primary{
  background-color: gray;
  border-color: black;
  color: black;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px; 
  height: 40px; 
  background-color: #1d1919; 
  border-radius: 50%; 
  border: none; 
  margin: 5px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #ccc; 

}

#project-name{
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
}

#manage-call{
  font-family: 'Passion One', cursive;
  font-size: 1.75rem;
  color: black;
}