.row {
    height: 100vh;
}
  
.col-3 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100; 
}
  
.col-9 {
  margin-left: 25%; 
  padding: 15px; 
}

.btn-primary{
  background-color: gray;
}