{% extends 'base.html' %}
{% block content %}


<h3>{{ project.name }}</h3>

    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
        <div class="navbar-brand"> Tools </div>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href=" {% url 'projects_update' project.id %} ">Update </a>
          <a class="nav-link" href="{% url 'projects_delete' project.id %}">Delete</a>
        </nav>
    </nav>

    
  {% comment %} add this to modal later {% endcomment %}
  <div>
    <form action="{% url 'add_task' project.id %}" method=POST>
      {% csrf_token %}
      {{task_form.as_table}}
      <input type="submit" class="btn" value="submit">
    </form>   
  </div>
 {% comment %} end note {% endcomment %}
{%comment %} 
Remember to render tasks on screen. add code for that
{% endcomment %}

{% for member in project.team_members.all %}
  <div>
    {{team_member.user}}

      <form action="{% url 'assoc_member' project.id team_member.id %}" method= "POST">
        {% csrf_token %}
        <button type="submit" class="btn">add</button>
      </form>
  </div>
{%endfor%}




{% endblock %}